In [1]:
import pandas as pd
import glob

In [2]:
# Step 1: Get all traffic CSV files
traffic_files = glob.glob("../data/raw/dataset_2/*_Traffic.csv")

In [3]:
# Step 2: Load files with encoding fallback
traffic_dataframes = []

for file in traffic_files:
    try:
        df = pd.read_csv(file)
    except UnicodeDecodeError:
        df = pd.read_csv(file, encoding='ISO-8859-1')
    traffic_dataframes.append(df)

In [4]:
# Step 3: Concatenate into one DataFrame
traffic_data = pd.concat(traffic_dataframes, ignore_index=True)

In [5]:
# Step 4: Preview the loaded data
traffic_data.head()

,Sensor,Sensor ID,Midnight,1am,2am,3am,4am,5am,6am,7am,...,2pm,3pm,4pm,5pm,6pm,7pm,8pm,9pm,10pm,11pm
0,Bourke Street Mall (North),1,79,57,19,24,17,16,80,110,...,2613,2533,2497,2725,2345,1984,1434,806,422,292
1,Bourke Street Mall (South),2,100,45,23,16,10,10,48,105,...,1572,1249,1287,1321,955,767,651,337,303,294
2,Melbourne Central,3,243,126,77,41,20,41,107,146,...,1763,1869,1911,2182,2096,1830,1964,1918,1583,1212
3,Town Hall (West),4,435,133,76,24,38,59,158,312,...,3434,3264,3462,3658,3184,2808,2587,2371,2019,2065
4,Princes Bridge,5,393,64,38,25,39,74,238,456,...,2518,2464,2420,3102,3160,3219,2399,2747,2483,2622

In [6]:
traffic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2057 entries, 0 to 2056
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sensor     2029 non-null   object
 1   Sensor ID  1994 non-null   object
 2   Midnight   2015 non-null   object
 3   1am        2015 non-null   object
 4   2am        2015 non-null   object
 5   3am        2015 non-null   object
 6   4am        2015 non-null   object
 7   5am        2015 non-null   object
 8   6am        2015 non-null   object
 9   7am        2015 non-null   object
 10  8am        2015 non-null   object
 11  9am        2015 non-null   object
 12  10am       2015 non-null   object
 13  11am       2015 non-null   object
 14  Noon       2015 non-null   object
 15  1pm        2015 non-null   object
 16  2pm        2015 non-null   object
 17  3pm        2015 non-null   object
 18  4pm        2015 non-null   object
 19  5pm        2015 non-null   object
 20  6pm        2015 non-null   object
 21  7pm        2015 non-null   object
 22  8pm        2015 non-null   object
 23  9pm        2015 non-null   object
 24  10pm       2015 non-null   object
 25  11pm       2015 non-null   object
dtypes: object(26)
memory usage: 418.0+ KB

In [7]:
traffic_data.isnull().sum()

Sensor       28
Sensor ID    63
Midnight     42
1am          42
2am          42
3am          42
4am          42
5am          42
6am          42
7am          42
8am          42
9am          42
10am         42
11am         42
Noon         42
1pm          42
2pm          42
3pm          42
4pm          42
5pm          42
6pm          42
7pm          42
8pm          42
9pm          42
10pm         42
11pm         42
dtype: int64